/* styles.css */

/* Add styles here to customize the appearance of your app */

.search-box{
  font-size: 3em;
  width: 480px;
}

.word{
  font-size:1.6em;
}

.pron{
  font-family: 'lucida sans unicode';
  float:right;
  font-size:16px;
}

.tts{
  width: unset !important;
  margin-left: 5px;
}

.mean{
  font-size: 13px;
}

.word-wrap{
  padding: 5px;
  margin: 5px 0px 5px 0px;
  background: rgb(230,230,230);
  border-radius: 4px;
  overflow: hidden;
}

.word-container{
  margin: 5px 0px 5px 0px;
  overflow-y: scroll;
}

.btn-copy-as-markdown svg {
  padding: 0 5px;
}

.btn-copy-as-markdown svg:hover {
  fill: blue;
}

.btn-add-to-anki svg {
  transition: 0.5s;
}

.btn-add-to-anki svg:hover {
  transform: rotateY(180deg);
}

.action-button {
  width: 24px;
  heigh: 24px;
  cursor: pointer;
}

.action-button svg {
  cursor: pointer;
}

body{
  overflow: hidden;
}
